:root{
  --bgcolor: rgb(117, 24, 24);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bgcolor);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--bgcolor);
  color: #fff;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #34343453;
}



main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
  text-align: center;
  margin-top: 100px;
}

form {
  /* padding: 20px; */
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 20px;
}


h1 {
  font-size: 3em;
  display: flex;
  color: white;

  padding: 15px;
  padding-left: 45px;
}

p {
  margin-bottom: 20px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bgcolor);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
}


.process-image-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(92, 19, 19);
  border: var(--bgcolor);
  color: #fff;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  padding-top: 10px;
}

.process-image-button:hover {
  background-color: #fff;
  color: var(--bgcolor);
  border: 2px solid var(--bgcolor);
}

.bordered-label {
  border: 1px solid black;
  padding: 5px;
}

#file-label {
  cursor: pointer; 
  color: blue; 
  font-size: 20px; 
  font-weight: bold;
}

#ratios {
  display: none;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  color: white;
}

th {
  background-color: rgba(34, 31, 31, 0.5);
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
}

td {
  background-color:rgba(34, 31, 31, 0.39);
  border: 1px solid #ddd;
  padding: 10px;
}

tr:hover {
  background-color: #f5f5f56c;
}

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
    font-family: 'Segoe UI', sans-serif;
  }
  
  th {
    display: none;
  }
  
  td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }
  
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
  }
}

#result_image {
  display: block;
  margin: auto;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  /* max-width: 50%; */
}