.background {
  background-color: brown;
  background-size: cover;
/*  min-height: 100vh; */
/*  background-attachment: fixed; */
/*  background-repeat: repeat-y; */
  background-repeat: no-repeat;
  height: 100%;
  /* Set the height to 100% of the viewport height */
}

.main {
/*  height: 86vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.title {
  color: white;
  font-size: 5vw;
  margin-left: 20px;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
}

.subtitle {
  color: white;
  font-size: 2vw; /* Use viewport units for font size */
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
}

.text {
  color: white;
  font-size: 1vw;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 50%;
}

.button {
  /*height: 200px;*/
  /*width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;*/
  color: white;
  background-color: rgba(128, 0, 0, 0.37);
}