/* All code in this file was written by Amrita Ballurkar */

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7vh;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

.button {
  text-transform: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  color: white !important;
}

.button:hover {
  background-color: rgba(70, 57, 57, 0.422);
}
